node_modules
npm-debug.log
dist
client/dist
.git
.local
.replit
replit.md
attached_assets
*.png
*.jpg
*.jpeg
*.gif
.env
.replit.json
drizzle.config.ts
tsconfig.json
vite.config.ts
postcss.config.js
tailwind.config.ts
components.json
package-lock.json
